div.cuadro{
  background-color: #0FBDFB;
  border:0px solid transparent;
  height: 50px;
}

div.cuadro h1{
  text-align: center;
  font-size: 20px;
  font-family: script;
}

#boton{
  background-color: #11C8FB;
  border-color:#0BABD8;
  color: white;
  font-weight: bold;
}

img{
  height: 100px ;
}

p.tweet-fecha{
  text-align: right;
}

p.tweet-descripcion{
  text-align: justify;
}
