* {
	box-sizing: border-box;

}

.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}

[class*="col-sm-"] {
    float: left;
    height: 144px;
    width: 120px;
    margin: 17px;
    padding: 0.2%;
    border-radius: 10px;
    border: 2px solid #606060;
}

section{
  font-family: Baloo;
  font-size: 36px;
  left: 50%;
  top: 50%;
}
p{
  padding:0px 17px;
}
div.etiquetaA,div.etiquetaC {
  background-color: #dfedd6;
}
div.etiquetaB,div.etiquetaD{
  background-color: #f7fade;
}
