* {
	box-sizing: border-box;

}

.col-lg-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;}
.col-lg-8 {width: 66.66%;}
.col-lg-7 {width: 58.33%;}
.col-lg-9 {width: 75%;}
.col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
.col-lg-12 {width: 100%;}

[class*="col-"] {
    display:block;
    padding: 0.2%;
    margin:15px;
    border-radius: 10px;
    border: 2px solid #606060;
    height:120px;
    width: 120px;
    text-align: center;
    align-content: center;
}

div.etiquetaA,div.etiquetaC {
  background-color: #dfedd6;
}
div.etiquetaB,div.etiquetaD{
  background-color: #f7fade;
}

section{
  font-family: Baloo;
  font-size: 36px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
